@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(0,0,0,0.2);
  font-family: 'Poppins', sans-serif;
}

.screen {
  width: 100vw;
  height: 100vh;
  display: none;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.visible {
  display: flex;
}

.heading {
  text-align: center;
  font-weight: 400;
}

.button {
  padding: 10px 20 px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3498db;
  color: #fff;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #2980b9;
}

.answer-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 300px);
  grid-gap: 10px;
}

.answer {
  width: 100%;
}

.answer.active {
  background-color: #ffA500;
}

.answer.right {
  background-color: #008000;
}

.answer.active,
.answer.right {
animation: blink 1s infinite ease-out;
border-color: #fff;
}

@keyframes blink {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
